<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li><a class="navbar-font"
                   href="#/user/{{model.userId}}/website/{{model.websiteId}}/page">
                <span class="glyphicon glyphicon-chevron-left"></span></a></li>
        </ul>
        <ul class="nav navbar-nav">
            <li><a class="navbar-brand"> Widget List </a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right pull-right">
            <li><a class="navbar-font" href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new"><span class="glyphicon glyphicon-ok"></span></a></li>
        </ul>
    </div>
</nav>

<div class="container-fluid site-list-scroll-overflow-y">

    <div ng-show="model.error" class="alert alert-danger" role="alert">
        {{model.error}}
    </div>
    {{model.widgets}}
    <div ng-repeat="widget in model.widgets">
        <div class="jga-toolbar">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{widget._id}}">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
            <span class="glyphicon glyphicon-align-justify"></span>
        </div>

        <!--
        <div ng-switch="widget.widgetType">
            <div ng-switch-when="HEADER">
                <ng-include src="'views/widget/templates/widget-HEADER.view.client.html'"></ng-include>
            </div>
            <div ng-switch-when="IMAGE">
                <ng-include src="'views/widget/templates/widget-IMAGE.view.client.html'"></ng-include>
            </div>
            <div ng-switch-when="HTML">
                <ng-include src="'views/widget/templates/widget-HTML.view.client.html'"></ng-include>
            </div>
            <div ng-switch-when="YOUTUBE">
                <ng-include src="'views/widget/templates/widget-YOUTUBE.view.client.html'"></ng-include>
            </div>
        </div>
        -->
        <ng-include src="model.getWidgetTemplateUrl(widget.widgetType)"></ng-include>
    </div>
</div>

<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container-fluid">
        <ul class="nav navbar-nav navbar-right pull-right">
            <li><a href="#/user/{{model.userId}}" class="navbar-font"><span class="glyphicon glyphicon-user"></span></a></li>
        </ul>
    </div>
</nav>