body {
    padding-top: 80px;
    padding-bottom: 80px;
    overflow: hidden;
}

input.form-control {
    margin-bottom: 5px;
}

form {
    padding: 10px;
}

list-element-menu {
    top: 0px;
    right: 0px;
    position: absolute;
    z-index: 10;
    background-color: white;
}

.list-group-item {
    border: none;
}

a:hover {
    text-decoration: none;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}

.navbar .navbar-collapse {
    text-align: center;
}

.navbar-default .navbar-nav .navbar-font {
    /**padding: 10px 17px;*/
    color:white;
    font-size:20px;
    line-height: 25px;
    display: inline-block;
}

.relative-position {
    position: relative;
}

.site-list-scroll-overflow-y
{
    overflow-y: scroll;
    position: relative;
    height: -moz-calc(100vh - 140px); /* Firefox -> 100vh - padding top - padding bottom*/
    height: -webkit-calc(100vh - 140px); /* Chrome, Safari -> 100vh - padding top - padding bottom*/
}

.btn-new-website {
    padding-bottom: 0px;
    padding-top: 5px;
    background-color:#222;
    color: #9d9d9d;
}

.btn-new-website:hover {
    color:#fff;
}

.hide-bullet {
    color: transparent !important;
}

.page-glyp {
  color:black;
}

.navbar-default {
    background-color: lightgrey;
    border-color: darkgrey;
    border-radius: 0;
}

.navbar-default .navbar-brand{
  color:#222
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: darkgrey;
}

.navbar-default .navbar-nav > li > a {
    color: #222;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    background-color: darkgrey;
}

.navbar-default .navbar-nav > .active > a{
  color: #222;
  background-color: #222;
}
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: darkgrey;
    background-color: #222;
}

.navbar-default .navbar-text {
    color: #222;
}

.navbar-default .navbar-toggle {
    border-color: #222;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: darkgrey;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #222;
}
