<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li><a class="navbar-font" href="../page/page-list.html"><span class="glyphicon glyphicon-chevron-left"></span></a></li>
    </ul>
    <ul class="nav navbar-nav">
      <li><a class="navbar-brand"> New Pages</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right pull-right">
      <li><a class="navbar-font" href="../page/page-list.html"><span class="glyphicon glyphicon-ok"></span></a></li>
    </ul>
  </div>
</nav>
<div class="container-fluid">
  <form name="newPage" novalidate>
    <div class="form-group">
      <label for="pagename">Name</label>
      <input type="text" class="form-control" id="pagename" name="pagename" placeholder="Page Name" required>
    </div>
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" id="title" name="title" placeholder="Title" required>
    </div>
  </form>
</div>
<nav class="navbar navbar-inverse navbar-fixed-bottom">
  <div class="container-fluid">
    <ul class="nav navbar-nav navbar-right pull-right">
      <li><a href="../user/profile.html" class="navbar-font"><span class="glyphicon glyphicon-user"></span></a></li>
    </ul>
  </div>
</nav>
