<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li><a class="navbar-font" href="../website/website-list.html"><span class="glyphicon glyphicon-chevron-left"></span></a></li>
    </ul>
    <ul class="nav navbar-nav">
      <li><a class="navbar-brand">Pages</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right pull-right">
      <li><a class="navbar-font" href="../page/page-new.html"><span class="glyphicon glyphicon-plus"></span></a></li>
    </ul>
  </div>
</nav>
<div class="container-fluid site-list-scroll-overflow-y">
  <ul class="list-group">
    <li class="list-group-item">
      <a href="../widget/widget-list.html"> Blog Post </a>
      <a href="../page/page-edit.html" class="pull-right"> <span class="glyphicon glyphicon-cog"></span> </a>
    </li>
    <li class="list-group-item">
      <a href="../widget/widget-list.html"> Blogs </a>
      <a href="../page/page-edit.html" class="pull-right"> <span class="glyphicon glyphicon-cog"></span> </a>
    </li>
    <li class="list-group-item">
      <a href="../widget/widget-list.html"> Home </a>
      <a href="../page/page-edit.html" class="pull-right"> <span class="glyphicon glyphicon-cog"></span> </a>
    </li>
    <li class="list-group-item">
      <a href="../widget/widget-list.html"> About </a>
      <a href="../page/page-edit.html" class="pull-right"> <span class="glyphicon glyphicon-cog"></span> </a>
    </li>
    <li class="list-group-item">
      <a href="../widget/widget-list.html"> Contact Us </a>
      <a href="../page/page-edit.html" class="pull-right"> <span class="glyphicon glyphicon-cog"></span> </a>
    </li>
  </ul>
</div>
<nav class="navbar navbar-inverse navbar-fixed-bottom">
  <div class="container-fluid">
    <ul class="nav navbar-nav navbar-right pull-right">
      <li><a href="../user/profile.html" class="navbar-font"><span class="glyphicon glyphicon-user"></span></a></li>
    </ul>
  </div>
</nav>
